body{
	margin: 0;
	padding: 0;
	background: #ccc url(../imges/bg.jpg) center center no-repeat;
}
a{
	text-decoration: none;
}
main{
	text-align: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper{
	display: inline-block;
	background: rgba(111,158,66,0.5);
	border-radius: 20px;
	padding: 25px;
}
.wrapper:hover{
	transition: box-shadow 0.3s;
	box-shadow: 0px 0px 25px 0px rgba(34, 34, 34, 0.2)
}
kbd{
	width: 55px;
	height: 45px;
	display: inline-block;
	text-transform: capitalize;
	border-radius: 7px;
	position: relative;
	margin: 0 12px;
	display: inline-flex;
	align-items: center;
	justify-content: center;

}
#main div:nth-child(2){
	margin-left: -10px;
}
#main div:nth-child(3){
	margin-left: -100px;
}
kbd button{	
	position: absolute;
	right: 1px;
	bottom: 3px;
	color: #FF6666;
	font: 12px "微软雅黑";
	background-color: #CCC;
	display: none;	
	border: 1px solid #fff;
	box-shadow: 0 0 0px 1px #ccc,0 3px 2px 1px rgba(08,08,08,0.4);
	background: linear-gradient(to bottom, #fff 0%,#ccc 100%);
}
kbd:hover > button{
	display: inline-block;
	border-radius: 5px;
	
}
.key{
	width: 60px;
	height: 42px;
	color: #666;
	border-radius: 5px;
	box-shadow: 0 0 0px 1px #ccc,0 3px 0px 2px #999,0 7px 3px 1px rgba(08,08,08,0.4);
	font: 20px "微软雅黑";
	border: 1px solid #fff;
	background: linear-gradient(to bottom, #fff 0%,#ccc 100%);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.row{
	margin: 25px;
}
.row img{
	/*border: 1px solid #999;*/
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: 3px;
	left: 1px;
	border-radius: 9px;
}
/*.row .text{
	position: absolute;
	top: -2px;
	left: 1px;
}
*/